{% extends "base.html" %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}
        <label for="username">username :</label>
        <input type="text" name="username" value="" id="username">
        <label for="email">email :</label>
        <input type="text" name="email" value="" id="email">
        <label for="password">password :</label>
        <input type="password" name="password" value="" id="password">

        <input type="submit" value="Signin">
    </form>

{% endblock %}